
@{
    ViewBag.Title = "Confirmation Required";
}

<h2>@ViewBag.Title.</h2>
<p class="text-info">
    An email was sent to the entered email address. Please check your email and and follow the link to confirm your email address.
</p>

