<div id="mainSiteFooter" class="inlineBlockBox">
    
    <div class="column logo">
        <a id="mainSiteFooterLogo" href="@Url.Content( "~/home/v2" )" style="background-image: url('@Url.Content( "~/Images/Common/cti_logo_transparent.png" )');"></a>
    </div>

    <div class="column socialMediaLinks">
        <h5>Follow us:</h5>
        <a href="http://twitter.com/CTI_credential" target="_blank"><i class="fa fa-fw fa-twitter"></i> Twitter</a>
        <a href="http://www.facebook.com/credtransparency" target="_blank"><i class="fa fa-fw fa-facebook-official"></i> Facebook</a>
    </div>

    <div class="column">
        <h5>Managed by:</h5>
        <a href="http://gwipp.gwu.edu/" target="_blank">George Washington University</a>
        <a href="http://cwd.siu.edu/" target="_blank">Southern Illinois University</a>
        <a href="http://www.workcred.org/" target="_blank">Workcred</a>
    </div>

    <div class="column">
        <h5>Supported by:</h5>
        <a href="http://www.luminafoundation.org/" target="_blank">Lumina Foundation</a>
    </div>

    <div class="column footerText">
        <p>To learn more about how the Credential Transparency Initiative can help your organization become more involved, <a href="http://www.credentialtransparencyinitiative.org/" target="_blank">visit the CTI website</a> and see a list of <a href="http://credreg.net/page/introduction" target="_blank">CTI leaders and stakeholders</a>.</p>
    </div>

</div>