<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="5000" />
    <!-- env, version configurations-->
    <add key="siteVersion" value="2017-08-09" />
    <add key="envType" value="test" />
    <add key="serverName" value="localhost" />
    <add key="usingSSL" value="true" />
    <add key="doingHttpsRedirectForWWW" value="true" />
    <add key="doingEmailConfirmation" value="true" />
    <add key="forgotPasswordExiryDays" value="1" />
    <add key="siteAdminUserId" value="1" />
    <add key="usingEntityConditionProfileForAll" value="true" />
    <add key="usingV1Interface" value="true" />
    <add key="canEditorsViewAll" value="true" />
    <add key="isSiteInBeta" value="false" />
    <add key="adminKey" value="TBD" />
    <!-- dev API keys, will need different ones for prod-->
    <!--http://www.asp.net/mvc/overview/security/create-an-aspnet-mvc-5-app-with-facebook-and-google-oauth2-and-openid-sign-on-->
    <!-- -->
    <add key="includingAllRolesForOrgRoles" value="false" />
    <add key="enforcingFoundingDateFormats" value="false" />
    <add key="includeHasPartIsPartWithConnections" value="false" />
    <add key="requireRegionOrIsGlobal" value="true" />
    <add key="maxKeywordLength" value="200" />
    <add key="maxReferenceTextLength" value="600" />
    <add key="maxReferenceUrlLength" value="600" />
    <add key="credentialCacheMinutes" value="0" />
    <add key="learningOppCacheMinutes" value="0" />
    <add key="credSearchCategories" value="2,4,39," />
    <add key="orgSearchCategories" value="7,8,9,30," />
    <add key="asmtSearchCategories" value="21,37,54,56," />
    <add key="loppSearchCategories" value="21,53," />
    <add key="goggleClientId" value="TBD.apps.googleusercontent.com" />
    <add key="goggleClientSecret" value="TBD" />
    <!-- CR related ======================================= -->
    <add key="doingRegistryPublish" value="yes" />
    <!-- Credential registry ====================================
    skip_validation
    -->
    <add key="skippingValidation" value="no" />
    <add key="credentialRegistryUrl" value="http://lr-staging.learningtapestry.com" />
    <add key="credentialRegistryPublishUrl" value="http://lr-staging.learningtapestry.com/ce-registry/envelopes?update_if_exists=true" />
    <add key="credentialRegistryGet" value="http://lr-staging.learningtapestry.com/ce-registry/envelopes/{0}" />
    <add key="credentialRegistrySearch" value="http://lr-staging.learningtapestry.com/ce-registry/search?" />
    <add key="credRegistryResourceUrl" value="http://lr-staging.learningtapestry.com/resources/" />
    <add key="privateKeyLocation" value="App_Data\keys\ctiDevPlainRegistry.key" />
    <add key="pemKeyLocation" value="App_Data\keys\ctiDevPlainRegistry.key.pem" />
    <!-- temp: in prod, during beta, don't want to arbitrarily set the registered entity as public -->
    <add key="onRegisterSetEntityToPublic" value="true" />
    <add key="continueOnPublishError" value="yes" />
    <add key="envelopeCommunity" value="ce_registry" />
    <!-- elastic =========================================== -->
    <add key="indexName" value="cti" />

    <!-- CASS=========== -->
    <add key="cassSearchUrl" value="https://dev.cassproject.org" />
    <!-- CUSTOM SQL FILTERS=========== -->
    <add key="99-01" value=" ( base.Id in (  SELECT b.EntityBaseId FROM [dbo].[Entity.VerificationProfile] a inner join entity b on a.EntityId = b.Id  ) ) " />
    <!-- ACCOUNT/CONTACT US NOTIFICATION ====================================================== -->
    <!-- notifyOnEmailNotFound: if true, user will be notified where email not found during forgot password process -->
    <add key="notifyOnEmailNotFound" value="true" />
    <add key="notifyOnEmailNotConfirmed" value="true" />
    <!-- EmailService: smtp, serviceApi, sendGrid -->
    <add key="emailService" value="serviceApi" />
    <!-- use web service, and ignore others TEMP UNTIL OUR OWN IS SET UP-->
    <add key="SendEmailService" value="" />
    <add key="SmtpHost" value="localhost" />
    <!-- sendEmailFlag - use TRUE uppercase to set on -->
    <add key="sendEmailFlag" value="TRUE" />
    <add key="usingTempOverrideEmail" value="yes" />
    <add key="notifyingUserOnImport" value="false" />
    <!-- contact US email addresses -->
    <add key="contactUsMailTo" value="info@MyOrg.com" />
    <add key="contactUsMailFrom" value="DoNotReply@MyOrg.org" />
    <!-- Email for system and/or application related messages -->
    <add key="systemAdminEmail" value="admin@MyOrg.com" />
    <add key="systemNotifyFromEmail" value="dev@MyOrg.com" />
    <add key="logAllEmail" value="yes" />
    <!-- LOG SETTINGS ========================================================================
      Notes:
        - Be sure to give write access to the everyone role for the following log file
    -->
    <add key="logErrors" value="yes" />
    <add key="notifyOnException" value="no" />
    <add key="appTraceLevel" value="8" />
    <add key="botTraceLevel" value="8" />
    <add key="path.error.log" value="C:\@logs\[date]_CTI_ErrorLog.txt" />
    <add key="path.email.log" value="C:\@logs\[date]_CTI_EmailLog.txt" />
    <add key="path.trace.log" value="C:\@logs\[date]_CTI_TraceLog.txt" />
    <add key="path.botTrace.log" value="C:\@logs\[date]_CTI_botTraceLog.txt" />
    <add key="path.log.file" value="C:\@logs\[date]_[filename].txt" />
    <add key="doingLinkChecking" value="true" />
    <add key="urlExceptions" value="www.linkedin.com; www.depaul.edu; plus.google.com; www.verifycco.org" />
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=localhost;database=CTI;User Id=ctiAdmin;password=TBD;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=200" providerName="System.Data.SqlClient" />
    <add name="cti_RO" connectionString="Server=192.168.1.145;database=CTI;User Id=ctiReader;password=$$$TBD$$$;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=200" providerName="System.Data.SqlClient" />
    <add name="CTIEntities" connectionString="metadata=res://*/CTIEntities.csdl|res://*/CTIEntities.ssdl|res://*/CTIEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=CTI;persist security info=True;user id=ctiAdmin;password=TBD;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CTIEntities1" connectionString="metadata=res://*/Views.CTI_Views.csdl|res://*/Views.CTI_Views.ssdl|res://*/Views.CTI_Views.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.145;initial catalog=CTI;persist security info=True;user id=ctiAdmin;password=$$$TBD$$$;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
   
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off" redirectMode="ResponseRewrite">
      <error statusCode="404" redirect="~/PageNotFound.html" />
    </customErrors>
  </system.web>
  <location path="signin-google">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <httpErrors errorMode="Custom">
      <remove statusCode="404" />
      <error statusCode="404" path="PageNotFound.html" responseMode="File" />
    </httpErrors>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <!--<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>-->
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--ProjectGuid: {FBEF48FC-2FA5-4CB4-AB27-5F7A35B1CB6B}-->