<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	</configSections>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="aspnet:MaxJsonDeserializerMembers" value="5000" />
		<!--<add key="vs:EnableBrowserLink" value="false" />-->

		<!-- env, version configurations-->
		<add key="siteVersion" value="2019-03-26a" />
		<add key="envType" value="development" />
		<add key="serverName" value="localhost" />

		<add key="usingSSL" value="true" />
		<add key="doingHttpsRedirectForWWW" value="true" />
		<add key="doingEmailConfirmation" value="true" />
		<add key="forgotPasswordExiryDays" value="1" />
		<add key="siteAdminUserId" value="1" />
		<add key="usingEntityConditionProfileForAll" value="true" />
		<!--<add key="usingV1Interface" value="true" />-->
		<add key="canEditorsViewAll" value="false" />

		<add key="isSiteInBeta" value="false" />
		<add key="loginRequiredMessage" value="" />
		<!--<add key="loginRequiredMessage" value="This site is not currently open to the public. You must be logged in and authorized in order to use this site." />-->
		<!-- global password-->

		<add key="noOrganizationMessage" value="In order to be able to create credential content: Your account must have been approved, and you must be associated with an organization that has been approved for publishing content on this site." />
		<!-- global password-->
		<add key="adminKey" value="##CHG TOKEN##" />

		<add key="domainName" value="https://localhost:44315/" />
		<add key="publisherCallbackUrl" value="Account/CE_Login" />


		<add key="credentialFinderSite" value="http://credfinder.siuccwd.com/" />

		<!-- Use this to authenticate direct HTTP(S) requests between the publisher and the account system-->
		<add key="CEAccountSystemStaticPassword" value="##CHG TOKEN##" />
		<add key="publisherClientToken" value="##CHG TOKEN##" />
		<add key="publisherSecretToken" value="##CHG TOKEN##" />
		<!-- localhost  	 
		<add key="accountsRegister" value="https://localhost:44320/account/register" />
		<add key="accountsLogin" value="https://localhost:44320/account/login" />
		<add key="accountsDashboard" value="https://localhost:44320/dashboard" />
		<add key="accountsAuthorizeApi" value="https://localhost:44320/Api/Authorize" />
		<add key="CEAccountOrganizationsForUserApi" value="https://localhost:44320/api/GetOrganizationsForUser" />
			<add key="CEAccountOrganizationStatisticsUpdateApi" value="https://localhost:44320/api/UpdateOrganizationStatistics" />
		<add key="CEAccountOrganizationByCTID" value="http://localhost:52345/Organization/GetByCTID?ctid={0}&amp;password={1}" />
	-->
		
		<!--  ctitest  -->
		<add key="accountsRegister" value="http://ctitest.siuccwd.com/accounts/account/register" />
		<add key="accountsLogin" value="http://ctitest.siuccwd.com/accounts/account/login" />
		<add key="accountsDashboard" value="http://ctitest.siuccwd.com/accounts/dashboard" />
		<add key="accountsAuthorizeApi" value="http://ctitest.siuccwd.com/accounts/Api/Authorize" />
		<add key="CEAccountOrganizationsForUserApi" value="http://ctitest.siuccwd.com/accounts/api/GetOrganizationsForUser" />
		<add key="CEAccountOrganizationStatisticsUpdateApi" value="http://ctitest.siuccwd.com/accounts/api/UpdateOrganizationStatistics" />
		<add key="CEAccountOrganizationByCTID" value="http://ctitest.siuccwd.com/accountsApi/Organization/GetByCTID?ctid={0}&amp;password={1}" />
		
		<!--
		<add key="CEAccountOrganizationsForUserApi" value="http://ctitest.siuccwd.com/accountsApi/Organization/GetOrganizationsForUser" />
		<add key="CEAccountOrganizationsForUserApi" value="http://localhost:52345/Organization/GetOrganizationsForUser" />
		-->		
	

		<!--			-->
		<add key="includingAllRolesForOrgRoles" value="false" />
		<add key="enforcingFoundingDateFormats" value="false" />
		<add key="includeHasPartIsPartWithConnections" value="true" />
		<add key="requireRegionOrIsGlobal" value="false" />
		<add key="limitOrgMicroSearchResultsToRelatedOrReferences" value="false" />
		<add key="enforcingProcessProfileMinimumData" value="true" />
		<add key="isTargetRequiredForConnection" value="true" />

		<add key="maxKeywordLength" value="200" />
		<add key="maxReferenceTextLength" value="600" />
		<add key="maxReferenceUrlLength" value="600" />
		<add key="minDescriptionTextLength" value="25" />
		<add key="canReferenceCredentialFromDifferentOrg" value="true" />

		<add key="credentialCacheMinutes" value="0" />
		<add key="learningOppCacheMinutes" value="0" />
		<add key="organizationSummaryCacheMinutes" value="3" />
		<!-- === search =====  -->
		<add key="credSearchCategories" value="2,4,13,14,18,21,39," />
		<add key="orgSearchCategories" value="7,8,9,30," />
		<add key="asmtSearchCategories" value="14,21,37,54,56," />
		<add key="loppSearchCategories" value="14,21,53," />
		<add key="includingFrameworkItemsInKeywordSearch" value="false" />
		<add key="includingDescriptionInKeywordFilter" value="true" />
		<add key="using_EntityIndexSearch" value="true" />
		<add key="appendingOrgNameToAutocomplete" value="true" />
		<add key="doingExpandOfRegion" value="true" />

		<!-- RegistryAssistant related ======================================= -->
		<!-- api key for manual publisher site-->
		<add key="apiPublisherIdentifier" value="##CHG TOKEN##" />
		
		<add key="usingRegistryAssistantForMapping" value="true" />
		<!-- this is only a conveniece for testing, and is normally false -->
		<add key="ra.SkippingLinkChecking" value="true" />
		<add key="treatingRemoteFileNotExistingAsError" value="false" />
		<!-- If true costs from editor are flattened to the RA inpout, otherwise hierarchy -->
		<add key="mapEditorCostsFlattenedCosts" value="false" />
		<add key="orgReferencesRequireOrgType" value="true" />
		<!-- where true, name, swp, and desc will be included along with @id-->
		<add key="includeMinDataWithReferenceId" value="true" />
		<add key="publishManifestsWithOrg" value="false" />
		<add key="publishOrgEmailsAsContactPoints" value="false" />
		<add key="displayingAdditionalEntitiesToPublish" value="false" />

		<add key="generateCtidIfNotFound" value="false" />
		<add key="generateMissingRequiredData" value="true" />
		<!-- dev google  API keys,  mostly not used now (using SSO through accounts) -->
		<!--		Leave empty if not using google login-->
		<add key="goggleClientId" value="" />
		<add key="goggleClientSecret" value="##CHG TOKEN##" />
		<!-- Google Safe Browsing API v4 settings - set blank to skip checks ==== -->
		<add key="googleSafeBrowsingApiKey" value="" />
		<add key="googleSafeBrowsingApi" value="https://safebrowsing.googleapis.com/v4/threatMatches:find?key=" />

		<!-- CR related ======================================= -->
		<add key="doingRegistryPublish" value="yes" />

		<!-- Credential registry ====================================        -->
		<!--<add key="registryAssistantApi" value="http://localhost:5707/" />-->

		<add key="registryAssistantApiVersion" value="" />

		<!-- test/sandbox  -->
		<add key="registryAssistantApi" value="https://credentialengine.org/raSandbox/" />
		
		
		<add key="credentialRegistryUrl" value="https://sandbox.credentialengineregistry.org" />
		<add key="credentialRegistryPublishUrl" value="https://sandbox.credentialengineregistry.org/ce-registry/envelopes?update_if_exists=true" />
		<add key="credentialRegistryGet" value="https://sandbox.credentialengineregistry.org/ce-registry/envelopes/{0}" />
		<add key="credentialRegistrySearch" value="https://sandbox.credentialengineregistry.org/ce-registry/search?" />
		<add key="credRegistryResourceUrl" value="https://sandbox.credentialengineregistry.org/resources/" />
		<add key="credRegistryGraphUrl" value="https://sandbox.credentialengineregistry.org/graph/" />

		<add key="usingGraphDocuments" value="true" />
		<!-- this could actually be more accurately, include all third party assertions, not just owns, offers
      NOT CURRENTLY USED-->
		<add key="includeAllThirdPartyAssertionsInOrgPublish" value="true" />

		<add key="skippingValidation" value="no" />
		<add key="privateKeyLocation" value="App_Data\keys\ctiDevPlainRegistry.key" />
		<add key="pemKeyLocation" value="App_Data\keys\ctiDevPlainRegistry.key.pem" />
		<!-- temp: in prod, during beta, don't want to arbitrarily set the registered entity as public -->
		<add key="onRegisterSetEntityToPublic" value="true" />
		<add key="continueOnPublishError" value="yes" />
		<add key="envelopeCommunity" value="ce_registry" />
		<add key="enforcingMinimumDataChecksOnPublish" value="true" />

		<!-- CASS =========== -->
		<!-- used in Entity_CompetencyManager.GetAll. 
        can Set false, as the Competencies view has a separate Get method. This is initially useful for comparing old and new  -->
		<add key="usingCassBasedCompetencies" value="true" />
		<add key="publishingUsingCassBasedCompetencies" value="true" />
		<add key="CASSDomainsForCORS" value="cassproject.github.io,dev.cassproject.org,cass.credentialengine.org" />
		<!-- dev 	
	 cass dev doesn't have the ce- prefix. The code that references this will handle. 
WARNING: in the dev environment, the CER type URI for CaSS frameworks don't always use sandbox
cassSearchUrl - not sure this is  used yet? - in CassServices 
 -->
		<add key="cassRootUrl" value="https://dev.cassproject.org" />
		<add key="cassGetUrl" value="https://dev.cassproject.org/api/ceasn/schema.cassproject.org.0.3.Framework/https://sandbox.credentialengineregistry.org/resources/ce-{0}" />
		
		<add key="cassEditorUrl" value="https://cassproject.github.io/cass-editor/index.html?user=wait&amp;link=true&amp;newObjectEndpoint=https://sandbox.credentialengineregistry.org/resources/ce-&amp;server=https://dev.cassproject.org/api/&amp;ceasnDataFields=true&amp;show=mine" />

		<add key="conceptSchemeEditorUrl" value="https://cassproject.github.io/cass-editor/index.html?user=wait&amp;link=true&amp;newObjectEndpoint=https://sandbox.credentialengineregistry.org/resources/ce-&amp;server=https://dev.cassproject.org/api/&amp;ceasnDataFields=true&amp;show=mine&amp;concepts=true" />
		
		<add key="cassResourceViewerUrl" value="https://cassproject.github.io/cass-editor/index.html?server=https://dev.cassproject.org/api/&amp;ceasnDataFields=true&amp;origin=http://ctitest.siuccwd.com&amp;css=https://credentialengine.org/publisher/Style/CassStyles&amp;frameworkId=https://dev.cassproject.org/api/data/{0}" />
		
		<add key="cassResourceUrlPrefix" value="sandbox" />
		<add key="conceptSchemeGetUrl" value="https://dev.cassproject.org/api/data/schema.cassproject.org.0.3.Framework/https://sandbox.credentialengineregistry.org/resources/ce-{0}" />		
		<add key="cassExportUrl" value="https://dev.cassproject.org/api/ceasn/{0}" />
		<add key="conceptSchemeExportUrl" value="https://dev.cassproject.org/api/data/{0}" />

		<!-- CUSTOM SQL FILTERS=========== -->
		<add key="99-01" value=" ( base.Id in (  SELECT b.EntityBaseId FROM [dbo].[Entity.VerificationProfile] a inner join entity b on a.EntityId = b.Id  ) ) " />
		<!-- ACCOUNT/CONTACT US NOTIFICATION ====================================================== -->
		<!-- notifyOnEmailNotFound: if true, user will be notified where email not found during forgot password process -->
		<add key="notifyOnEmailNotFound" value="true" />
		<add key="notifyOnEmailNotConfirmed" value="true" />
		<!-- EmailService: smtp, serviceApi, sendGrid, mailgun, or blank if no email service -->
		<add key="emailService" value="" />
		<!-- specify web service, if latter is serviceApi-->
		<add key="SendEmailService" value="" />
		<add key="SmtpHost" value="localhost" />

		<add key="MailgunSendingDomainName" value="" />
		<add key="MailgunSecretAPIKey" value="key-##CHG TOKEN##" />
		<add key="MailgunPublicAPIKey" value="pubkey-##CHG TOKEN##" />
		<!-- sendEmailFlag - use TRUE uppercase to set on -->
		<add key="sendEmailFlag" value="FALSE" />
		<add key="usingTempOverrideEmail" value="yes" />
		<add key="notifyingUserOnImport" value="false" />
		<add key="allowingCachingEmailTemplates" value="false" />
		<!-- contact US email addresses -->
		<add key="contactUsMailTo" value="email@email.com" />
		<add key="contactUsMailFrom" value="DoNotReply@email.org" />
		<!-- Email for system and/or application related messages -->
		<add key="systemAdminEmail" value="email@email.com" />
		<add key="systemNotifyFromEmail" value="email@email.com" />
		<add key="sendApprovalIfBySiteStaff" value="true" />
		<add key="approvalCCs" value="email@email.com" />
		<add key="logAllEmail" value="yes" />
		<!-- LOG SETTINGS ========================================================================
      Notes:
        - Be sure to give write access to the everyone role for the following log file
    -->
		<add key="logErrors" value="yes" />
		<add key="notifyOnException" value="no" />
		<add key="appTraceLevel" value="6" />
		<add key="botTraceLevel" value="6" />
		<add key="path.error.log" value="C:\@logs\[date]_editor_ErrorLog.txt" />
		<add key="path.email.log" value="C:\@logs\[date]_editor_EmailLog.txt" />
		<add key="path.trace.log" value="C:\@logs\[date]_editor_TraceLog.txt" />
		<add key="path.botTrace.log" value="C:\@logs\[date]_editor_botTraceLog.txt" />
		<add key="path.log.file" value="C:\@logs\[date]_[filename].txt" />
		<add key="doingLinkChecking" value="true" />
		<add key="urlExceptions" value="www.linkedin.com; www.depaul.edu; plus.google.com; www.iccsafe.org; www.verifycco.org" />
	</appSettings>
	<connectionStrings>

		<!-- add userId and password for user with update access to the database-->

		<!-- 145 server -->
    <add name="DefaultConnection" connectionString="Server=192.168.1.145;database=ctdlEditor;User Id=ctiAdmin;password=##CHG PASSWORD##;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=200" providerName="System.Data.SqlClient" />
		
    <add name="cti_RO" connectionString="Server=192.168.1.145;database=ctdlEditor;User Id=ctiReader;password=##CHG PASSWORD##;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=200" providerName="System.Data.SqlClient" />
		
    <add name="CTIEntities" connectionString="metadata=res://*/CTIEntities.csdl|res://*/CTIEntities.ssdl|res://*/CTIEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.145;initial catalog=ctdlEditor;persist security info=True;user id=ctiAdmin;password=##CHG PASSWORD##;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		
	<add name="CTIEntities1" connectionString="metadata=res://*/Views.CTI_Views.csdl|res://*/Views.CTI_Views.ssdl|res://*/Views.CTI_Views.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.145;initial catalog=ctdlEditor;persist security info=True;user id=ctiAdmin;password=##CHG PASSWORD##;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /> 
  
	
	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.5.2" />
		<httpRuntime targetFramework="4.5" />
		<!--<httpCookies httpOnlyCookies="true" />-->
		<customErrors mode="Off">
		</customErrors>
	</system.web>
	<location path="signin-google">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<system.net>
		<settings>
			<httpWebRequest useUnsafeHeaderParsing="true" />
		</settings>
	</system.net>
	<system.webServer>
		<modules>
			<remove name="FormsAuthentication" />
		</modules>
		<httpErrors errorMode="Custom">
			<remove statusCode="404" />
			<error statusCode="404" path="~/PageNotFound.html" responseMode="Redirect" />
		</httpErrors>
		<!-- Enable serving woff and woff2 font file formats -->
		<staticContent>
			<remove fileExtension=".woff" />
			<remove fileExtension=".woff2" />
			<mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
			<mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
		</staticContent>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
	</system.webServer>
	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="2147483647" />
			</webServices>
		</scripting>
	</system.web.extensions>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<!--<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>-->
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>