<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="siteVersion" value="2016-08-27a" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="envType" value="test" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="isSiteInBeta" value="true"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="serverName" value="test"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="privateKeyLocation" value="c:\\CredentialRegistry\\keys\ctiDevPlainRegistry.key" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="pemKeyLocation" value="c:\\CredentialRegistry\\keys\\ctiDevPlainRegistry_key.pem" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    
    <add key="doingEmailConfirmation" value="true"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    
    <!-- LR related -->



    <add key="systemNotifyFromEmail" value="ctiTest@siuccwd.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="usingTempOverrideEmail" value="no" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    
  </appSettings>
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    

  -->
  <connectionStrings>
      <add name="DefaultConnection" connectionString="Server=192.168.1.145;database=CTI;User Id=ctiAdmin;password=$$TBD$$;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=200" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

    <add name="cti_RO" connectionString="Server=192.168.1.145;database=CTI;User Id=ctiAdmin;password=$$TBD$$;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=200" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

    <add name="CTIEntities" connectionString="metadata=res://*/CTIEntities.csdl|res://*/CTIEntities.ssdl|res://*/CTIEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.145;initial catalog=CTI;persist security info=True;user id=ctiAdmin;password=$$TBD$$;MultipleActiveResultSets=True;App=EntityFramework&quot;"
        providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

    <add name="CTIEntities1" connectionString="metadata=res://*/Views.CTI_Views.csdl|res://*/Views.CTI_Views.ssdl|res://*/Views.CTI_Views.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.145;initial catalog=CTI;persist security info=True;user id=ctiAdmin;password=$$TBD$$;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    
    </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <location path="signin-google">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>