
@{
    ViewBag.Title = "Email Confirmed";
}

<link href="@Url.Content( "~/Style/AccountBox" )" rel="stylesheet" type="text/css" />

<h1>@ViewBag.Title</h1>
<div id="messageBox">Thank you for confirming your email. <a href="@Url.Content( "~/Account/Login" )">Click here to login.</a></div>