
@{
    ViewBag.Title = "Email Confirmation Required";
}

<link href="@Url.Content( "~/Style/AccountBox" )" rel="stylesheet" type="text/css" />

<h1>@ViewBag.Title</h1>
<div id="messageBox">An email was sent to the entered email address. Please check your email and and follow the link to confirm your email address.</div>