
@{
    ViewBag.Title = "Email Confirmed";
}

<link href="@Url.Content( "~/Style/AccountBox" )" rel="stylesheet" type="text/css" />

<h1>@ViewBag.Title</h1>
<div id="messageBox">Thank you for confirming your email. </div>
<h2>Beta Phase</h2>
<p>Note that during the Beta Phase of the Credential Engine project, access to the site is limited to our partners.</p>
<p>Sites related to this project include:</p>
<ul>
    <li><a href="http://credreg.net/" target="_blank">Technical Planning</a></li>
    <li><a href="http://credreg.net/ctdl/handbook" target="_blank">CTDL Handbook</a></li>
    <li><a href="http://www.credentialengine.com/" target="_blank">Credential Engine</a></li>
</ul>