
@{
    ViewBag.Title = "Login Failure";
}

<link href="@Url.Content( "~/Style/AccountBox" )" rel="stylesheet" type="text/css" />

<h1>@ViewBag.Title</h1>
<div id="messageBox">Unfortunately, the login attempt was unsuccessful. Please try again later.</div>