
@{
    ViewBag.Title = "Password Reset Initiated";
}

<link href="@Url.Content( "~/Style/AccountBox" )" rel="stylesheet" type="text/css" />

<h1>@ViewBag.Title</h1>
<div id="messageBox">Please check your email to reset your password.</div>