
@{
    ViewBag.Title = "Reset Password Confirmation";
}

<link href="@Url.Content( "~/Style/AccountBox" )" rel="stylesheet" type="text/css" />

<h1>@ViewBag.Title</h1>
<div id="messageBox">Your password has been reset. <a href="@Url.Content( "~/Account/Login" )">Click here to login.</a></div>